@charset "utf-8";
/* 아카이브 메인 CSS - main.css */

@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+Han+Sans&family=Nanum+Gothic&family=Single+Day&display=swap");

/*
          웹폰트 font-family 이름
          font-family: 'Bagel Fat One', cursive;
          font-family: 'Black Han Sans', sans-serif;
          font-family: 'Nanum Gothic', sans-serif;
          font-family: 'Single Day', cursive;
      */

/* 초기화 */
html,body,h1,h2,h3,ul,ol{
    margin: 0;
    padding: 0;
}

/* 전체배경이미지 */
body{
    background: url(../imgs/worksbg.jpg)
    no-repeat fixed center/cover; 
    /* 전체 글자체 */
    font-family: 'Single Day', cursive;
    /* 전체 글자기본크기 */
    font-size: 15px;
}

/* 전체박스 */
.wrap{
    background-color: rgba(255, 255, 255, 0.494);
    width: 80%;
    border-radius: 20px;
    margin: 20px auto;
}

/* 메인타이틀 */
.tit{
    text-align: center;
    font-family:'Bagel Fat One', cursive;
    font-weight: normal;
    font-size: 45px;
    color: darkcyan;
}